* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
  border-radius: 10px;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #FF0000;
}

header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}

a:hover {
  color: #FF0000;
}

nav {
  display: flex;
}

nav a {
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}

.controls {
  margin: 30px 20px;
  display: flex;
  justify-content: end;
}

.controls .group {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 40px;
}

.controls .group .label {
  margin-right: 20px;
}

.controls .group button, .newTopicBtn {
  border: 1px solid #FF0000;
  padding: 15px 20px;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.controls .group button:hover, .newTopicBtn:hover {
  color: #FFF;
  background-color: #FF0000;
}

.controls .dropdown,
header .dropdown {
  position: absolute;
  top: 70px;
  right: 0px;
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
  z-index: 100;
}
header .dropdown {
  right: 20px;
  text-align: end;
}
.controls .dropdown .option,
header .dropdown .option {
  margin: 10px 0px;
  transition: all 0.5s;
  cursor: pointer;
  display: block;
}

.controls .dropdown .option:hover,
header .dropdown .option:hover {
  color: #FF0000;
}

header .dropdown .option {
  display: flex;
  align-items: center;
}
header .dropdown .option svg {
  color: #FF0000;
  margin-right: 5px;
}
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
}

.articles .article {
  width: 100%;
  max-width: 900px;
  margin: 35px;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .3);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 40px;
  display: flex;
}

.articles .article:hover {
  box-shadow: 0px 0px 50px #FF0000;
}

.articles .article .topic {
  position: absolute;
  top: -15px;
  right: 20px;
  background-color: #FF0000;
  padding: 10px 20px;
  color: #FFF;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .3), inset 0px 0px 2px rgba(255, 255, 255, .4);
}

.articles .article img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.articles .article .title {
  font-weight: 700;
  font-size: 19px;
  margin: 30px 20px;
}

.error {
  height: calc(100vh - 83px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.error p {
  font-size: 20px;
  margin-top: 10px;
  animation: show-content 1.5s ease-in-out;
}

img.hero {
  width: 100%;
  border-radius: 30px;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 30px 10px;
  animation: show-heading 1.5s ease-in-out;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

article .topic {
  background-color: #FF0000;
  padding: 10px 20px;
  color: #FFF;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .3), inset 0px 0px 2px rgba(255, 255, 255, .4);
}

article img {
  width: 100%;
  max-width: 550px;
  margin: 50px 20px;
}

article .body {
  width: 100%;
  max-width: 700px;
  animation: show-content 1.5s ease-in-out;
  margin-top: 50px;
}

.article-controls {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 30px;
}

article .votes,
article .comments-toggle {
  display: flex;
  align-items: center;
}

article .votes .votes-button {
  background: none;
  border: none;
  margin-left: 10px;
  color: rgba(0, 0, 0, .3);
  cursor: pointer;
}

article .votes .votes-button svg {
  transition: all 0.5s;
  height: 30px;
  width: 30px;
}

article .votes .votes-button:hover svg {
  color: #FF0000;
  animation: rotate 1.5s infinite ease-in;
}

article .comments-toggle .comments-button {
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

article .comments-toggle .comments-button svg {
  transition: all 0.5s;
  color: rgba(0, 0, 0, .3);
}

article .comments-toggle .comments-button:hover svg {
  color: #FF0000;
}

@keyframes show-heading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.comments-area {
  width: 100%;
  max-width: 700px;
  margin-top: 60px;
}

.comments-area h2 {
  text-align: center;
  padding-bottom: 10px;
}

.comments-area .placeholder {
  text-align: center;
  margin: 40px 10px;
  font-weight: 700;
  color: rgba(0, 0, 0, .5);
}

.comment {
  margin: 75px 0px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
  position: relative;
  transition: all 1s;
}

.comment-header {
  width: 100%;
  top: -35px;
  left: 0;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.comment-author span {
  font-weight: 800;
}

.comment-votes {
  position: absolute;
  bottom: -25px;
  right: 10px;
  background: #FFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
  padding: 10px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  cursor: pointer;
}

.comment-votes svg {
  margin-left: 10px;
  color: rgba(0, 0, 0, .3);
  transition: all 0.5s;
}

.comment-votes svg:hover {
  color: #FF0000;
}

.comments-list {
  padding: 10px;
}

.comments-list::-webkit-scrollbar {
  display: none;
}

.commentForm {
  max-width: unset;
  margin: unset;
  padding: unset;
  box-shadow: none;
  position: sticky;
  bottom: 0px;
  background-color: #FFF;
  z-index: 10;
}

.comment-input {
  width: 100%;
}

.comment-input textarea {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  height: 70px;
  padding: 10px;
  transition: all 0.5s;
  margin-bottom: -5px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.comment-input textarea:focus {
  height: 100px;
}

.comment-input input[type=submit] {
  width: fit-content;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #FF0000;
  color: #FFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  margin: 10px;
  cursor: pointer;
}

.comment-input .button-area {
  display: flex;
  justify-content: end;
  background-color: #FFF;
}

.comment .voteControls {
  background: none;
  border: none;
  cursor: pointer;
}

.comment .delete {
  position: absolute;
  background: none;
  border: none;
  color: rgba(0, 0, 0, .3);
  transition: all 0.5s;
  cursor: pointer;
  bottom: -25px;
  right: 100px;
  background: #FFF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
}

.comment .delete:hover {
  color: #FF0000;
}

.comment.deleting {
  box-shadow: 0px 0px 10px #FF0000;
  border: 1px solid #FF0000;
  background-color: #FF0000;
  color: #FFF;
}

.topics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.topics .topic {
  margin: 30px;
  width: 100%;
  max-width: 300px;
  padding: 30px;
  border: 1px solid #FF0000;
  cursor: pointer;
  transition: all 0.5s;
}

.topics .topic:hover {
  box-shadow: 0px 0px 15px #FF0000;
}

.topics .topic .topic-name {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

#preloader {
  width: 100%;
  height: 100vh;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.bar-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.bar {
  width: 10px;
  height: 50px;
  background: linear-gradient(45deg, #ff0080, #ff8c00);
  border-radius: 5px;
  animation: bounce 1.2s infinite ease-in-out;
}

.bar:nth-child(1) {
  animation-delay: 0s;
}

.bar:nth-child(2) {
  animation-delay: 0.2s;
}

.bar:nth-child(3) {
  animation-delay: 0.4s;
}

.bar:nth-child(4) {
  animation-delay: 0.6s;
}

.bar:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes bounce {

  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }
}

.userProfile {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0px 20px;
}

.newArticleNav {
  display: flex;
  align-items: center;
}

.newArticleNav svg {
  color: #FF0000;
  margin-right: 10px;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  border: 2px solid #FF0000;
  padding: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group label,
.input-group input {
  display: block;
  width: 100%;
  max-width: 600px;
}

.input-group label {
  margin: 15px 0px;
}

.input-group input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  padding: 10px 0px;
  font-size: 16px;
  transition: all 0.5s;
}

.input-group input:focus {
  border-bottom: 1px solid #FF0000;
}

#content {
  resize: none;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .3);
  outline: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 500px;
  font-size: 16px;
}

.postArticle {
  max-width: fit-content;
  padding: 10px 20px;
  border: none;
  color: #FFF;
  background-color: #FF0000;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
  margin-top: 40px;
  transition: all 0.5s;
  cursor: pointer;
}

.postArticle:hover {
  box-shadow: unset;
}

select {
  padding: 10px 20px;
  border: 1px solid #FF0000;
  border-radius: 40px;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0px 0px 50px 0px;
}

.pagination button {
  padding: 15px 20px;
  color: #FFF;
  background-color: #FF0000;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  cursor: pointer;
  transition: all 0.5s;
  margin: 10px;
}

.pagination button:hover {
  box-shadow: none;
}

header .mobile {
  display: none;
}

header .mobile button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 1px solid #FF0000;
  color: #FF0000;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
}

header .mobile button:hover {
  color: #FFF;
  background: #FF0000;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.user img {
  width: 300px;
  margin-bottom: 20px;
}
.user .name {
  font-weight: 800;
  font-size: 20px;
}
.user .username {
  color: rgba(0, 0, 0, .5);
}
.user button {
  background-color: #FF0000;
  border: none;
  padding: 15px 20px;
  color: #FFF;
  margin-top: 30px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
  transition: all 0.5s;
}
.user button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}
@media screen and (max-width: 570px) {
  .articles .article {
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }

  .articles .article img {
    width: 100%;
    height: 300px;
    border-radius: unset;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  header nav {
    display: none;
  }

  header .mobile {
    display: block;
  }
}