* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
  border-radius: 10px;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #FF0000;
}

header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}

a:hover {
  color: #FF0000;
}

nav a {
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}

.controls {
  margin: 30px 20px;
  display: flex;
  justify-content: end;
}

.controls .group {
  display: flex;
  align-items: center;
}

.controls .group .label {
  margin-right: 20px;
}

.controls .group button {
  border: 1px solid #FF0000;
  padding: 15px 20px;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.controls .group button:hover {
  color: #FFF;
  background-color: #FF0000;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articles .article {
  width: 100%;
  max-width: 400px;
  margin: 30px 20px;
  position: relative;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, .3);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 40px;
}

.articles .article:hover {
  box-shadow: 0px 0px 50px rgba(255, 0, 0, 0.9);
}

.articles .article .topic {
  position: absolute;
  top: -15px;
  right: 20px;
  background-color: #FF0000;
  padding: 10px 20px;
  color: #FFF;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .3), inset 0px 0px 2px rgba(255, 255, 255, .4);
}

.articles .article img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.articles .article .title {
  font-weight: 700;
  font-size: 19px;
  margin: 20px;
}

.error {
  height: calc(100vh - 83px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.error p {
  font-size: 20px;
  margin-top: 10px;
  animation: show-content 1.5s ease-in-out;
}

img.hero {
  width: 100%;
  border-radius: 30px;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 30px 10px;
  animation: show-heading 1.5s ease-in-out;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

article .topic {
  background-color: #FF0000;
  padding: 10px 20px;
  color: #FFF;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .3), inset 0px 0px 2px rgba(255, 255, 255, .4);
}

article img {
  width: 100%;
  max-width: 550px;
  margin: 50px 20px;
}

article .body {
  width: 100%;
  max-width: 700px;
  animation: show-content 1.5s ease-in-out;
  margin-top: 50px;
}

.article-controls {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 30px;
}

article .votes,
article .comments-toggle {
  display: flex;
  align-items: center;
}

article .votes .votes-button {
  background: none;
  border: none;
  margin-left: 10px;
  color: rgba(0, 0, 0, .3);
  cursor: pointer;
}

article .votes .votes-button svg {
  transition: all 0.5s;
  height: 30px;
  width: 30px;
}

article .votes .votes-button:hover svg {
  color: #FF0000;
  animation: rotate 1.5s infinite ease-in;
}

article .comments-toggle .comments-button {
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

article .comments-toggle .comments-button svg {
  transition: all 0.5s;
  color: rgba(0, 0, 0, .3);
}

article .comments-toggle .comments-button:hover svg {
  color: #FF0000;
}

@keyframes show-heading {
  0% {
    font-size: 2px;
  }

  100% {
    font-size: 50px;
  }
}

@keyframes show-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.comments-area {
  background-color: #FFF;
  width: 100%;
  max-width: 550px;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid #FF0000;
  padding: 20px;
  box-shadow: -2px 2px 20px rgba(0, 0, 0, .5);
  animation: slide-in 1s ease-in;
}

.comments-area h2 {
  text-align: center;
  padding-bottom: 10px;
}

@keyframes slide-in {
  0% {
    right: -200vh;
  }

  100% {
    right: 0;
  }
}

.comments-area svg.closeBtn {
  color: #FF0000;
  position: absolute;
  top: 15px;
  left: 15px;
  transition: all 0.5s;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.comments-area .closeBtn:hover {
  transform: rotate(180deg);
}

.comment {
  margin: 75px 0px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
  position: relative;
  transition: all 1s;
}

.comment-header {
  width: 100%;
  top: -35px;
  left: 0;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.comment-author span {
  font-weight: 800;
}

.comment-votes {
  position: absolute;
  bottom: -25px;
  right: 10px;
  background: #FFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
  padding: 10px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  cursor: pointer;
}

.comment-votes svg {
  margin-left: 10px;
  color: rgba(0, 0, 0, .3);
  transition: all 0.5s;
}

.comment-votes svg:hover {
  color: #FF0000;
}

.comments-list {
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
  padding: 10px 10px 150px 10px;
}

.comments-list::-webkit-scrollbar {
  display: none;
}

.comment-input {
  width: 100%;
  position: absolute;
  bottom: 78px;
  left: 0;
  border-top: 1px solid #FF0000;
}

.comment-input textarea {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  height: 70px;
  padding: 10px;
  transition: all 0.5s;
  margin-bottom: -5px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.comment-input textarea:focus {
  height: 100px;
}

.comment-input input[type=submit] {
  width: fit-content;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #FF0000;
  color: #FFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  margin: 10px;
  cursor: pointer;
}

.comment-input .button-area {
  display: flex;
  justify-content: end;
  background-color: #FFF;
}

.comment .voteControls {
  background: none;
  border: none;
  cursor: pointer;
}

.comment .delete {
  position: absolute;
  background: none;
  border: none;
  color: rgba(0, 0, 0, .3);
  transition: all 0.5s;
  cursor: pointer;
  bottom: -25px;
  right: 100px;
  background: #FFF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
}

.comment .delete:hover {
  color: #FF0000;
}

.comment.deleting {
  box-shadow: 0px 0px 10px #FF0000;
  border: 1px solid #FF0000;
  background-color: #FF0000;
  color: #FFF;
}
.topics {
  display: flex;
  justify-content: center;
}
.topics .topic {
  margin: 30px;
  width: 100%;
  max-width: 300px;
  padding: 30px;
  border: 1px solid #FF0000;
  cursor: pointer;
  transition: all 0.5s;
}
.topics .topic:hover {
  box-shadow: 0px 0px 15px #FF0000;
}
.topics .topic .topic-name {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}